@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <ul>
        @foreach (Book book in Model)
        {
            <li>
                <h2>@book.Title</h2>
                <p>By @book.Authors[0].Name</p>
                <img width="200" src = "@book.BookCoverUrl" alt="@book.Title" />
            </li>
        }
    </ul>
</div>