@model Bookish.Models.Requests.CreateBookRequest
@{
    ViewData["Title"] = "New Book";
}

<h1>New Book</h1>
<form
    asp-controller="Home"
    asp-action="CreateBook"
    method="post"
>
    <label asp-for="Isbn">
        ISBN: <input asp-for="Isbn">
    </label>
    <label asp-for="Title">
        Title: <input asp-for="Title">
    </label>
    <label asp-for="BookCoverUrl">
        BookCoverUrl: <input asp-for="BookCoverUrl">
    </label>
    <label asp-for="Year">
        Year: <input asp-for="Year">
    </label>
     <label asp-for="AuthorNames[0]">
        Author: <input asp-for="AuthorNames[0]">
    </label>

    <input type="submit">
</form>